<% include partials/header %>

<div class="container">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <img class="img-thumbnail" src="<%= camp.image %>">
        <h3><%= camp.name %></h3>
        <p> <em>Submitted By: <%= camp.author.username %></em></p>
        <p><%= camp.description %></p>
      </div>
    </div>

    <% if(currentUser && camp.author.id.equals(currentUser._id)) {%>
    <div id="campbuttons">
      <div id="editbutton">
        <a href="/camps/<%= camp._id %>/edit" class="btn btn-sm btn-warning">Edit</a>
      </div>
      <div id="submitButton">
        <form id ="deletebutton" action="/camps/<%= camp._id %>/delete" method="POST">
          <button class="btn btn-sm btn-danger">Delete</button>
        </form>
      </div>
    </div>
    <% } %>
  <% include partials/footer %>

</div>
