<% include partials/header %>
<div class="container">
  <h3>Edit <%= camp.name %><h3>
  <form action="/camps/<%= camp._id %>" method="POST">
    <div class="form-group row">
      <label class="col-2 col-form-label">Title</label>
      <div class="col-10">
        <input type="text" class="form-control" name="name" value="<%=camp.name%>">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Image</label>
      <div class="col-10">
        <input type="text" class="form-control" name="image" value="<%=camp.image%>">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Description</label>
      <div class="col-10">
        <input type="text" class="form-control" name="description" value="<%=camp.description%>">
      </div>
    </div>
    <button>Submit!</button>
  </form>
</div>
<% include partials/footer %>
